---
import '../styles/globals.css'

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <div>
        <div>
          <img src="" alt="" />
        </div>
        <div>
          <h1>Order Summary</h1>
          <p>
            You can now listen to millions of songs, audiobooks, and podcasts on
            any device anywhere you like!
          </p>
          <div></div>
          <div>
            <button type="button">Proceed to Payment</button>
            <button type="button">Cancel Order</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
